<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{project}} Data Pre-Analysis</title>
	<link rel="stylesheet" href="/static/dataTables/css/dataTables-2.3.2.css">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/jfip-theme.css">
	<script type="text/javascript" src="/static/jquery/js/jquery-3.7.1.js"></script>
	<script type="text/javascript" src="/static/dataTables/js/dataTables-2.3.2.js"></script>
	<script src="/static/dataTables/js/sum()-2.3.2.js"></script>
</head>

<style>
    .bg-danger.bg-gradient_ { background-color: #FFCCCB; }
    .bg-success.bg-gradient_ { background-color: #66FF99; }
</style>

<body>
<script>


$( document ).ready(function() {

    $('#example thead th').each(function (i) {
        var title = $('#example thead th').eq($(this).index()).text();
		$(this).html(
			'<input type="text" placeholder="' + title + '" data-index="' + i + '" />'
		);
    });

	let table = new DataTable('#example', {
		ajax: '/load_json?path={{json_path}}',
		columnDefs: [{ className: 'dt-left', targets: [ 0, 1, 2 ] }],
		columns: [
			{ data: 'parent_key' },
			{ data: 'parent_priority' },
			{ data: 'child_count', className: 'dt-left dt-control', width: '5%' },
			//{ data: 'is_all_assigned' },
			{ data: 'is_sibling_match' },
			{ data: 'is_inherited' }

		],
	});

	// Add event listener for opening and closing details
	table.on('click', 'td.dt-control', function (e) {
		let tr = e.target.closest('tr');
		let row = table.row(tr);

		if (row.child.isShown()) {
			// This row is already open - close it
			row.child.hide();
		}
		else {
			row.child(format(row.data())).show();
		}
	});

	 // Filter event handler
    $(table.table().container()).on('keyup', 'thead input', function () {
		//table.column($(this).data('index')).search(this.value).draw();
		var filterVal =  this.value.trim();
		console.log("filterVal: " + filterVal);
		var isLower = this.value.trim().startsWith("<") &&  this.value.trim().length > 1;
		var isHigher = filterVal.startsWith(">") &&  filterVal.length > 1;
		table.column($(this).data('index')).search.fixed('range', function (searchStr, data, index) {
			if(isLower){
				var isLowerOrEq = filterVal.includes("<=");
				var maxVal = isLowerOrEq ? parseFloat(filterVal.split("<=")[1]) : parseFloat(filterVal.split("<")[1]);
				return isLowerOrEq ? parseFloat(searchStr) <= maxVal : parseFloat(searchStr) < maxVal;
			}
			else if(isHigher){
				var isHigherOrEq = filterVal.includes(">=");
				var maxVal = isHigherOrEq ? parseFloat(filterVal.split(">=")[1]): parseFloat(filterVal.split(">")[1]);
				return isHigherOrEq ? parseFloat(searchStr) >= maxVal : parseFloat(searchStr) > maxVal;
			}
			else{
				return (searchStr.includes(filterVal));
			}
		}).draw();
    });


	// Highlight fitered headers
	$("thead th input, .dt-input").on('keyup', function(e) {
		const bgClass = "bg-warning";
		var elt = $(e.target);
		if(elt.val() == ""){
			elt.removeClass(bgClass);
			return;
		}
		if(!elt.hasClass(bgClass)){
			elt.addClass(bgClass);
		}
	});
});

function format(d) {
	var value = ""
	var table = $('#example').DataTable();
	//sumTotals = table.column( 3 ).data().sum();
	var totalCount = 0;
	Object.keys(d.child_keys).forEach((index) => {
		var child_priority = d.child_priority_list[index];
		var child_key = d.child_keys[index];
		var cur_value = `${child_key}: ${child_priority}`;
		cur_value = child_priority !== null ? cur_value : `<mark>${cur_value}</mark>`;
		value += `${cur_value}<br>`
    });
    return `${value}`;
}

</script>

    <div class="container">
        <h1 class="mb-4 text-primary text-centeR">{{project}} Parent-Children Priority Report</h1>

		<table id="example" class="display">
			<thead>
				<tr>
					<th>Parent</th>
					<th>Parent Priority</th>
					<th>Children</th>
<!--					<th>Is All Assigned</th>-->
					<th>Is Sibling Match</th>
					<th>Is Inherited</th>
				</tr>
			</thead>
		</table>
	</div>
</body>
</html>
